.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.homeContainer {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

/* Left side: text */
.homeContent {
  flex: 1;
}
.homeContent .greet {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}
.home .name {
  color: white;
  font-size: 3rem;
  font-family: "Young Serif", serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 1rem;
}

/* titleRotate */
.titleRotate {
  position: relative;
  height: 57px;
  overflow: hidden;
  font-weight: 900;
  font-family: "Lexend Deca", sans-serif;
}

.titleRotate span {
  position: absolute;
  width: 100%;
  color: rgb(75, 234, 255);
  left: 0;
  font-size: 2rem;
  top: 0;
  opacity: 0;
  animation: slideText 8s infinite;
}

/* delays */
.titleRotate span:nth-child(1) {
  animation-delay: 0s;
}
.titleRotate span:nth-child(2) {
  animation-delay: 2s;
}
.titleRotate span:nth-child(3) {
  animation-delay: 4s;
}
.titleRotate span:nth-child(4) {
  animation-delay: 6s;
}

@keyframes slideText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  35% {
    opacity: 0;
    transform: translateY(-90px);
  }
  100% {
    opacity: 0;
  }
}

.homeContent .para {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #b3b3b3;
}

.homeButtons {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.btn {
  position: relative;
  padding: 10px 25px;
  margin: 10px;
  background: transparent;
  color: white;
  border: 2px solid rgb(181, 0, 94);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  z-index: 1;
}

/* water layer */
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(181, 0, 94); /* default pink */
  z-index: -1;
  transition: height 0.4s ease;
}

/* FILLED BUTTON (default) */
.btn {
  color: white;
}

/* hover: drain pink */
.btn:hover::before {
  height: 0%;
}

.btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(181, 0, 94);
}

/* OUTLINE BUTTON*/
.btn.outline {
  color: rgb(255, 87, 174);
}

/* outline starts empty */
.btn.outline::before {
  background: rgb(255, 64, 163);
  height: 0%;
}

/* hover fill */
.btn.outline:hover::before {
  height: 100%;
}

.btn.outline:hover {
  color: rgb(0, 0, 0);
  background: transparent;
}

/* Right side: image */
.homeImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeImage img {
  z-index: 1;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 162, 0.9);

  animation: float 4s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(255, 0, 162, 0.9);
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.homeImage img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px 1px rgba(255, 0, 162, 0.9);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.imageWrapper {
  position: relative;
}

.statusBadge {
  z-index: 5;
  position: absolute;
  bottom: 40px;
  right: 1px;
  background: #79f2ff;
  color: #000;
  padding: 6px 14px;
  font-size: 0.9rem;
  font-weight: 900;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgb(255, 255, 255);
  }
  50% {
    box-shadow: 1px 1px 10px 1px rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0 0 0 rgb(255, 255, 255);
  }
}

@media (max-width: 768px) {
  .home {
    height: auto;
    padding: 10px 20px;
  }

  .homeContainer {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
    gap: 40px;
  }

  .homeContent .greet {
    font-size: 1.2rem;
  }

  .home .name {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .home h2 {
    font-size: 1.3rem;
  }

  .homeContent .para {
    font-size: 0.95rem;
  }

  .btn {
    padding: 8px 18px;
    font-size: 0.9rem;
  }

  .homeImage img {
    width: 250px;
    height: 250px;
  }

  .statusBadge {
    font-size: 0.75rem;
    padding: 5px 10px;
    bottom: 30px;
  }
  .titleRotate {
    height: 45x;
    font-weight: 700;
  }
  .titleRotate span {
    font-size: 1.1rem;
  }
}
