.navbar {
  width: 100vw;
  /* width: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px 5px 30px;
  background: #ff6cb6;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease;
}

.navbar.scrolled {
  background: #ff46a3e2;
  backdrop-filter: blur(6px);
}

/* Logo */
.logo-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo {
  color: #002793;
  font-size: 1.2rem;
  font-family: "Lora", serif;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  letter-spacing: 2px;
  transition: all 0.3s ease;
  padding-top: 12px;
  font-weight: 900;
}

.logo-link:hover .logo {
  transform: scale(1.08);
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.2rem;
  display: inline-block;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #00e5ff;
  transform: translateX(-50%);
  transform-origin: center;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
  transform: scale(1.19);
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    padding: 0.01rem 0.5rem;
    gap: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease;
  }

  .nav-links.active {
    max-height: 350px;
  }

  .nav-links.open {
    max-height: 500px;
  }

  .hamburger {
    display: flex;
  }
}
