.container {
  max-width: 1400px;
  margin: auto;
  padding: 1.5rem;
  color: #fff;
  font-family: "Arial", sans-serif;
}

.backLink {
  color: #ccc;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.backLink:hover {
  border-color: #fff;
}

.pimage {
  width: 100%;
  max-height: 480px;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.topSection {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

/* Left Title + Description */
.titleDesc {
  flex: 2;
  min-width: 250px;
}

.titleDesc h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.keyFeatures h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.keyFeatures ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin-top: 0.5rem;
  font-weight: 200;
}

.shortDesc {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Right Sidebar Card */
.sidebarCard {
  flex: 1;
  background: #161616;
  padding: 1.5rem;
  border-radius: 15px;
  min-width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sidebarCard h3,
.sidebarCard h4 {
  margin-top: 0;
}

.date {
  font-size: 0.85rem;
  margin: 5px 0 10px 0;
  font-weight: 500;
}

.divider {
  border: none;
  height: 1px;
  background-color: #2d2d2d;
  margin-bottom: 10px;
}

.sidebarCard h3 {
  text-align: center;
  font-size: 1.4rem;
}

.sidebarCard h4 {
  font-size: 1rem;
  margin: 0 0 10px 0;
  font-weight: 500;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 1.2rem;
}

.techItem {
  background: #444;
  padding: 6px 12px;
  border-radius: 8px;
  color: #ccc;
  font-size: 0.9rem;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

.techItem:hover {
  color: #fff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.btnCode,
.btnLive {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.btnCode {
  background: #000dff;
  color: #fff;
  border: 1px solid #000;
}

.btnLive {
  background: #00ffcc;
  color: #000;
  border: 1px solid #000;
}

.btnCode:hover,
.btnLive:hover {
  font-weight: 600;
  border-color: #fff;
}

/* Sections */

.section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.section h2,
.section h3 {
  margin-bottom: 0.5rem;
}

/* Responsive */
@media (max-width: 1024px) {
  .topSection {
    flex-direction: column-reverse;
  }

  .sidebarCard {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .titleDesc h1 {
    font-size: 1.8rem;
  }

  .btnCode,
  .btnLive {
    flex: 1 1 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .titleDesc h1 {
    font-size: 1.4rem;
  }

  .techItem {
    font-size: 0.8rem;
    padding: 4px 8px;
  }

  .backLink {
    font-size: 1rem;
    padding: 8px 12px;
  }
  .keyFeatures ul {
    font-size: 0.7rem;
  }
}
