.container {
  max-width: 1400px;
  margin: auto;
  padding: 1.5rem;
  color: #fff;
  font-family: "Arial", sans-serif;
}

.backLink {
  color: #ccc;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  padding: 10px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
}

.backLink:hover {
  border: 1px solid white;
}

.pimage {
  width: 100%;
  height: 480px;
  object-fit: contain;
  border-radius: 12px;
}

.topSection {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

/* Left Title + Description */
.titleDesc {
  flex: 2;
}

.titleDesc h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.keyFeatures h3 {
  font-size: 1rem;
}
.section h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0%;
}
.keyFeatures ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin-top: 0.5rem;
  font-weight: 200;
}

.shortDesc {
  font-size: 1rem;
}

/* Right Sidebar Card */
.sidebarCard {
  flex: 1;
  background: #161616;
  padding: 1.2rem;
  border-radius: 15px;
  min-width: 250px;
}

.sidebarCard h3,
.sidebarCard h4 {
  margin-top: 0;
}

.date {
  font-size: 0.8rem;
  margin: 3px 0 10px 0;
  padding: 0%;
  font-weight: 500;
}

.divider {
  border: none;
  height: 1px;
  background-color: rgb(45, 45, 45);
  margin-bottom: 10px;
}

.sidebarCard h3 {
  text-align: center;
  font-size: 1.4rem;
}

.sidebarCard h4 {
  font-size: 1rem;
  margin: 0 0 10px 0;
  font-weight: 500;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 1.2rem;
}

.techItem {
  background: #444;
  padding: 5px 10px;
  border-radius: 8px;
  color: rgb(199, 199, 199);
  font-size: 0.9rem;
  border: 1px solid white;
}

.techItem:hover {
  color: rgb(255, 255, 255);
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btnCode,
.btnLive {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
}

.btnCode {
  background: #000dff;
  color: #fff;
  border: 1px solid rgb(0, 0, 0);
}

.btnLive {
  background: #00ffcc;
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

.btnLive:hover {
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
}

.btnCode:hover {
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
}

/* Sections */
.section {
  margin-top: 1rem;
  padding-left: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
  }

  .challengeGrid {
    grid-template-columns: 1fr;
  }
}
