@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.skillsSection {
  padding: 1rem 4rem;
}

.header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 900;
  font-family: "Patua One", cursive;
  letter-spacing: 2px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 3rem;
}

.category {
  border: 1px solid #969696;
  padding: 2rem;
  color: #ffffff;
  border-radius: 8px;
  background-color: #000000;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.category:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.category h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.skillGrid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr); 
}

.skillCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c0016;
  padding: 1rem;
  color: #fff;
  border-radius: 6px;
  font-weight: 700;
  text-align: center;
}

.skillCard:hover {
  background-color: #690034;
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 30px;
  height: 30px;
}



/* @media (max-width: 768px) {
  .skillsSection {
    padding: 1rem 2rem;
  }
  .categories {
    grid-template-columns: 1fr; 
  }

  .skillGrid {
    grid-template-columns: 1fr; 
    padding: 0.2rem;
  }
} */


@media (max-width: 1024px) {

  .skillsSection {
    padding: 1rem 2rem;
  }

  .categories {
    grid-template-columns: 1fr;   
    gap: 2rem;
  }

  .skillGrid {
    grid-template-columns: repeat(2, 1fr); 
  }

}

@media (max-width: 900px) {

  .skillsSection {
    padding: 1rem 0.7rem;
  }

  .header h2 {
    font-size: 1.6rem;
  }

  .category {
  padding: 0.1rem;
}
  .category h3 {
    font-size: 1.3rem;
    text-align: center;
  }

  .skillGrid {
    /* grid-template-columns: 1fr;   */
    grid-template-columns: repeat(1.1, 1fr);

  }

  .skillCard {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

}
