* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000000;
  font-family: "Varta", sans-serif;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 900;
  font-family: "Acme", sans-serif;
  letter-spacing: 5px;
  transition: 0.2s;
}

p {
  color: #858585;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
}

.search {
  padding: 0.6rem 1rem;
  width: 100%;
  max-width: 320px;
  border: 1px solid #7f7f7f;
  border-radius: 20px;
  font-size: 1rem;
  margin: 0 auto 2rem auto;
  display: block;
  outline: none;
}

.search:focus {
  border-color: #ff4d8d;
  box-shadow: 0 0 6px rgba(255, 77, 141, 0.6);
}
